*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* Nav Area */

.all-area{
    background: rgba(255, 144, 14, 0.1);
    height: 1100px;
    margin-bottom: 130px;
}

.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 310px;
    padding-top: 50px;
}

.nav-right .nav-links{
    text-decoration: none;
    margin-left: 34px;
    color: #424242;

}

.nav-section .nav-left .slogan{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-right{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.header-title{
    text-align: center;
    margin-top: 102px;
}

.slogan{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.header-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.basic-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}

.basic-btn:hover{
    width: 180px;
    height: 64px;
    background: #5758BB;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}

.slogan-gap, .header-description {
    margin-bottom: 30px;
}

.banner-photo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

.banner-photo .cover-img{
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}

/* Navigation Area End */

/* Features Section */

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.small-img{
    height: 342px;
    width: 342px;
}

.features-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.span1{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.span2, .banner-title1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.span3{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.f-title{
    margin-bottom: 24px;
}

.f-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.features-right{
    margin-left: 73px;
}

/* Features Section End */

/* Huge Banner */

.s-banner-title1{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.rectangle{
            width: 5px;
            height: 106px;
            left: 240px;
            top: 2284px;
            background: #FF900E;
}

.h-banner-title{
    display: flex;
}

.banner-title1{
    margin-left: 21px;
    margin-bottom: 24px;
}

.s-banner-title{
    margin-left: 30px;
}
.s-banner-title1{
    margin-bottom: 10px;
}

.huge-banner{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 130px;
}

.btn-center{
    position: absolute;
    width: 242px;
    height: 150px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
    margin-top: 650px;
    margin-left: 220px;
}
.btn-center:hover{
    position: absolute;
    width: 242px;
    height: 150px;
    text-align: center;
    background-color: #5758BB;
    color: #FFFFFF;
    padding: 30px;
    margin-top: 650px;
    margin-left: 220px;
}
.huge-img{
    height: 660px;
    width: 508px;
    margin-left: 146px;
}

.big-t{
    font-weight: 700;
    font-size: 25px;
}
.small-t{
    font-size: 15px;
}

/* Huge Banner End */

/* Facts Area */

.facts{
    margin: 0;
    margin-bottom: 24px;
}

.middle-area{
    display: grid;
   justify-content: center;
   align-items: center;
   justify-content: space-between;

   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: repeat(2, 1fr);
   margin-bottom: 100px;
}

.facts{
    grid-column-start: 2;
    grid-column-end: 6;
}

.f-description{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

/* Facts Area End */


/* Achievements Area */


.what-do {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px
}

.skill-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills {
    padding: 33px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    cursor: pointer;
    height: 141px;
    width: 141px;
}
.skills:hover{
    box-shadow: 0px 9px 52px rgba(0, 0, 0, 0.2);
    
}

.skills1{
    margin: 0;
    padding: 0;
}

/* Achievements Area End */

/* Special Sector */

.special-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-bottom: 130px;
}

.special{
    border-radius: 8px;
    margin-top: 16px;
    margin-top: 20px;
}



.last-img{
    margin-top: 30px;
    height: 270px;
    width: 407px;
    border-radius: 8px;
}


.me{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

/* Special Sector End */

/* Sponsor Area */

.sponsor-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

/* Sponsor Area End */


/* Footer Area */


.bg-color .last-des{
    position: absolute;
    width: 1000px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 299px;
    
}

footer{
    margin-bottom: 300px;
}

.footer-des{
    text-align: center;
    position: relative;
    margin-top: 45px;
}


/* Footer Area End */


/* Responsive Area */

@media (max-width:576px){
    .nav-section{
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }
    .slogan{
        margin-top: 20px;
        font-size: 36px;
    }

    .nav-right{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .nav-right .nav-links {
        text-decoration: none;
        margin-left: 0px;
        color: #424242;
        padding: 8px;
    }

    .slogan-gap, .header-description {
        margin-bottom: 30px;
        margin: 5px;
        margin-bottom: 20px;
    }

    .banner-photo .cover-img {
        width: 327px;
        height: 187px;
        border-radius: 8px;
    }

    .features {
        display: flex;
        flex-direction: column;
    }

    .features-right {
        margin-left: 17px;
    }

    .features-left {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .basic-btn {
        margin-left: 65px;
    }

    .sponsor-section {
        flex-wrap: wrap;
        gap: 12px;
    }

    .special-area {
        flex-direction: column;
    }

    .skill-container {

        flex-direction: column;
        gap: 20px;
    }

    .huge-banner {
        
        flex-direction: column-reverse;
        margin-bottom: 201px;
    }

    .huge-img {
        height: 398px;
        width: 288px;
        margin-left: 0;
    }

    .btn-center {
        
        margin-top: 1457px;
        margin-right: 0px;
        
    }

    .btn-center:hover{
        position: absolute;
        width: 242px;
        height: 150px;
        text-align: center;
        background-color: #5758BB;
        color: #FFFFFF;
        padding: 30px;
        margin-top: 1457px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .bg-color .last-des {
        position: absolute;
        width: 100%;
        height: 79px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .last-img {
        margin-top: -64px;
        height: 187px;
        width: 265px;
        border-radius: 8px;
    }

    .all-area {
        background: rgba(255, 144, 14, 0.1);
        height: 774px;
        margin-bottom: 13px;
    }
    .span2, .banner-title1 {
        
        font-size: 43px;
    }

    .f-description {
        font-size: 13px;
    }

    .features-right {
        margin-left: 0px;
        margin-top: 17px;
    }

    .features {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 44px;
        text-align: center;
    }

    .middle-area {
        margin-bottom: -101px;
    }
    
    .middle-area {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .me {
        text-align: center;
    }

    .basic-btn {
        margin-left: 0px;
    }

    .one {
        margin-left: 94px;
    }

    .span2, .banner-title1 {
        font-size: 43px;
        margin-top: 37px;
    }

    }


/* Responsive Area End */